build/
install/
log/

dataset/

bags/

.vscode/
.cursor/
.windsurf/

.env
*.pyc
__pycache__/
*.bag
*.db3
*.sqlite3
.DS_Store

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdfsync
*.bbl
*.blg
*.bcf
*.run.xml
*.toc
*.lof
*.lot
*.out
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg